@charset "utf-8";
/* CSS Document */
body
{
   
   background-image: url("livre.jpg"); /* Le fond est l'image "livre.jpg" */
   background-repeat: no-repeat; /* Le fond ne se répète pas */
   background-position:  center;
   background-color:#000000
   
   
 }
.container
{

   width: 900px;
   height:800px;
   margin-left:auto;
   margin-right:auto;
   margin-top:auto;
}  

 
.buttons
{
   margin-left:80px;
   margin-right:300px;
 }   

.lien
{
   font-weight:bold;
   color: #0000A0;
   margin-left:70px;
   margin-right:250px;
 
 }   
 .lien2
{
   font-weight:bold;
   color:#0000A0;
 
 } 
  
  img
{
border:none;
   
} 

.logo
{
text-align:center

   
} 

.counter
{
text-align:center;
bottom:
} 

.text
{
   font-size: 23px;
   text-align:right;
   margin-right:15px;
   margin-top:0px;
   color:#FFFF00;
   text-decoration:underline;


   

   
   
   
   
  

}


